# Não versionar .md (documentação local)
*.md
!README.md

# Credenciais
.env
lille-422512-a12a0a3c757b.json
gcp-key.json

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
/LutadorClasse.java
/anuncio.js